{% extends "base.html" %}
{% block content %}

<div class="container py-5">

    <div class="card shadow-lg border-0 p-5 text-center">

        <div id="payment-status">

            <h1 class="text-warning fw-bold">
                ⏳ Waiting for Payment
            </h1>

            <p class="mt-3 text-muted">
                Please complete payment on your phone using M-Pesa.
            </p>

            <div class="spinner-border text-success mt-3"></div>

        </div>

    </div>

</div>

<script>

function checkPaymentStatus() {

    fetch("/payments/check-status/{{ response.CheckoutRequestID }}/")

    .then(res => res.json())

    .then(data => {

        if (data.status === "completed") {

            document.getElementById("payment-status").innerHTML = `
                <h1 class="text-success fw-bold">
                    ✅ Payment Successful
                </h1>

                <p class="mt-3">
                    Transaction Code: <strong>${data.transaction_id}</strong>
                </p>

                <a href="/dashboard/" class="btn btn-success mt-4">
                    Go To Dashboard
                </a>
            `;

        }

        else if (data.status === "failed") {

            document.getElementById("payment-status").innerHTML = `
                <h1 class="text-danger fw-bold">
                    ❌ Payment Failed
                </h1>

                <p>Please try again.</p>
            `;

        }

    });

}

setInterval(checkPaymentStatus, 5000);

</script>

{% endblock %}